body {
    background-color: #0f2027;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.quiz-container {
    background: #203a43;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background-color: #2c5364;
    color: white;
}

#nextBtn {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}